.btn-go{
    width: 120px;
    height: 50px;
    background-color: #E76F51;
    color: white;
}
.img-go{
    width: 100px;
    margin-bottom: 20px;
}
header{
    background-image: url(/images/bike-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 999;
}
header::after{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
}
.list-go li{
    list-style: none;
    margin-right: 20px;
}